.users-table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 100px;
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
}
.users-options-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.status-live {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.status-live.active {
  background-color: green;
  animation: blink-2 3s infinite both;
}

.status-live.inactive {
  background-color: red;
}

@keyframes blink-2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.users-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.users-table th {
  padding: 8px;
  background-color: #f4f4f4;
  font-weight: bold;
  border-bottom: 2px solid #ddd;
  text-align: left;
}

.users-table td {
  padding: 5px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.user-cell {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.status {
  font-weight: bold;
}

.status.active {
  color: green;
}

.status.inactive {
  color: red;
}

.nousers {
  font-size: 25px;
  color: red;
}
.delete-btn {
  padding: 8px 12px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.delete-btn:hover {
  background-color: #ff1a1a;
}
