.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

#search-input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  color: #007bff;
  border: 1px solid #ccc;
  border-radius: 10px 10px;
  outline: none;
}

#search-input:focus {
  border-color: #007bff;
}

/* Responsive */

/* Small screens  */
@media screen and (max-width: 700px) {
  .search-bar {
    margin: 10px;
  }

  #search-input {

    font-size: 10px;
  }
}




